.cc{
    display: flex;    
    justify-content: center;
    padding: 0%, 10%;
}

h1{
    text-align: center;
}
.nice-form-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: 20%;
    width: 50%;
    height: 20%;
    border: 1px black solid;
    background-color: rgb(66, 107, 110);;
    padding: 0%, 5%;
    margin-top: 7%;
}
.center{
    text-align: center;
}

form{
    flex: 1;
    justify-content: center;
    /* text-align: center; */
}

textarea{
    width: 99%;
    height: 20%;
    
    
}