<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Hello, </title>
        <link rel="stylesheet" href="static/General.css">
        <link rel="stylesheet" href="static/Additional_Resources.css">
    </head>
    <body>
        <div class="page_content">
            <div class="navbar">
                <div class="navbar_item"> <a href="index.html" class = "navbar_link">HOME</a></div>
                <div class="navbar_item"> <a href="Teaching_Team.html" class = "navbar_link">TEACHING TEAM</a></div>
                <div class="navbar_item"> <a href="Tut_Office_Hours.html" class = "navbar_link">TUTORIALS/OFFICE HOURS</a></div>
                <div class="navbar_item"> <a href="Syllabus.html" class = "navbar_link">SYLLABUS</a></div>
                <div class="navbar_item"> <a href="Course_Work.html" class = "navbar_link">COURSE WORK</a></div>
                <div class="navbar_item"> <a href="https://markus.utsc.utoronto.ca/cscb20w22/assignments" target="_blank" class = "navbar_link">MARKUS</a></div>
                <div class="navbar_item"> <a href="https://piazza.com/class/kxj5alixpjg4ft" target="_blank" class = "navbar_link">PIAZZA</a></div>
                <div class="navbar_item"> <a href="Additional_Resources.html" class = "navbar_link">ADDITIONAL RESOURCES</a></div>
                <div class="navbar_item"> <a href="Feedback.html" class = "navbar_link">FEEDBACK</a></div>
                <div class="navbar_item"> <a href="login.html" class = "navbar_link">LOGOUT</a></div>
            </div>
            <div class="Additional_Resources">
                <h2 class="head">Additional Resources</h2>
                <div class="titles">
                    <h4 class="sub">SQL</h4>
                    <h4 class="sub">HTML</h4>
                </div>
                <div class="item">
                    <ul>
                        <li class="li1"><a href="https://code.tutsplus.com/articles/sql-for-beginners--net-8200" class="sub_link">Tutorial for SQL</a></li>
                            <dd>Goes over the basics on how to use SQL and the rudementary functions. </dd>
                        <li class="li1"><a href="https://www.sqlite.org/index.html" class="sub_link"> SQL Documentation</a></li>
                            <dd>You can find official documentation of SQLite </dd>
                        <li class="li1"><a href="https://www.w3schools.com/sql/" class="sub_link">Simplified breakdown of SQL functions</a></li>
                            <dd>Provides simple exampes of how to use each SQL function</dd>
                    </ul>
                </div>
                <div class="item">
                    <ul>
                        <li class="li1"><a href="https://www.w3schools.com/html/" class="sub_link">HTML functions</a></li>
                            <dd>Goes over each function of HTML and CSS along with JS</dd>
                        <li class="li1"><a href="https://validator.w3.org/ "class="sub_link"> HTML Checker</a></li>
                            <dd>Checks your HTML files for Validity</dd>
                        <li class="li1"><a href="https://medium.com/level-up-web/30-html-css-resources-for-beginners-4e4d0af4b44b/" class="sub_link">More links to html tutorials</a></li>
                            <dd>Has links to videos, tutorial pages, etc.</dd>
                    </ul>
                </div>
                <div class="large_item">
                    <h4 class="sub">In class Tutorial Notes</h4>
                    <div class="item">
                        <ul>
                            <li class="li2"><a href="dummy.pdf" class="sub_link"> Tutorial 1: Introduction</a></li>
                            <li class="li2"><a href="dummy.pdf" class="sub_link"> Tutorial 2: Relational algebra</a></li>
                            <li class="li2"><a href="dummy.pdf" class="sub_link"> Tutorial 3: Wrapping up relational algebra</a></li>
                            <li class="li2"><a href="dummy.pdf" class="sub_link"> Tutorial 4: SQL queries</a></li>
                            <li class="li2"><a href="dummy.pdf" class="sub_link"> Tutorial 5: Intro to web Dev</a></li>
                            <li class="li2"><a href="dummy.pdf" class="sub_link"> Tutorial 6: Intro to Flask, HTML, CSS</a></li>
                            <li class="li2"><a href="dummy.pdf" class="sub_link"> Tutorial 8: HTML Forms CSS Box Model Grid and Flex </a></li>
                            <li class="li2"><a href="dummy.pdf" class="sub_link"> Tutorial 9: Media queries, and JS</a></li>
                            <li class="li2"><a href="dummy.pdf" class="sub_link"> Tutorial 10: Flask and SQL</a></li>
                        </ul>
                    </div>


                </div>

            </div>
        </div>
        <footer> 
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/0/04/Utoronto_coa.svg/250px-Utoronto_coa.svg.png" alt="UT Logo" class="footer_image"> <div class="blurb">
                <p class="footer_item"> Website made by Jiaqi Sun, William Zhang, Michelle Zhu</p> 
                
                <a href="https://www.utsc.utoronto.ca/cms/" class="footer_item">Visit The CMS website</a> 
            </div>
            <div class="v-line"></div>
            <div class="footer_nav">
                <div class="fnav"> <a href="index.html" class = "navbar_link">HOME</a></div>
                <div class="fnav"> <a href="Teaching_Team.html" class = "navbar_link">TEACHING TEAM</a></div>
                <div class="fnav"> <a href="Tut_Office_Hours.html" class = "navbar_link">TUTORIALS/OFFICE HOURS</a></div>
                <div class="fnav"> <a href="Syllabus.html" class = "navbar_link">SYLLABUS</a></div>
                <div class="fnav"> <a href="Course_Work.html" class = "navbar_link">COURSE WORK</a></div>
                <div class="fnav"> <a href="https://markus.utsc.utoronto.ca/cscb20w22/assignments" target="_blank" class = "navbar_link">MARKUS</a></div>
                <div class="fnav"> <a href="https://piazza.com/class/kxj5alixpjg4ft" target="_blank" class = "navbar_link">PIAZZA</a></div>
                <div class="fnav"> <a href="Additional_Resources.html" class = "navbar_link">ADDITIONAL RESOURCES</a></div>
                <div class="fnav"> <a href="Grade.html" class = "navbar_link">GRADE</a></div>
                <div class="fnav"> <a href="Feedback.html" class = "navbar_link">FEEDBACK</a></div>
            </div>
        </footer>
        </body>
</html>