<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hello, </title>
        <link rel="stylesheet" href="static/Course_work.css">
        <link rel="stylesheet" href="static/General.css">
    </head>
    <body>
        <div class="navbar">
            <div class="navbar_item"> <a href="index.html" class = "navbar_link">HOME</a></div>
            <div class="navbar_item"> <a href="Teaching_Team.html" class = "navbar_link">TEACHING TEAM</a></div>
            <div class="navbar_item"> <a href="Tut_Office_Hours.html" class = "navbar_link">TUTORIALS/OFFICE HOURS</a></div>
            <div class="navbar_item"> <a href="Syllabus.html" class = "navbar_link">SYLLABUS</a></div>
            <div class="navbar_item"> <a href="Course_Work.html" class = "navbar_link">COURSE WORK</a></div>
            <div class="navbar_item"> <a href="https://markus.utsc.utoronto.ca/cscb20w22/assignments" target="_blank" class = "navbar_link">MARKUS</a></div>
            <div class="navbar_item"> <a href="https://piazza.com/class/kxj5alixpjg4ft" target="_blank" class = "navbar_link">PIAZZA</a></div>
            <div class="navbar_item"> <a href="Additional_Resources.html" class = "navbar_link">ADDITIONAL RESOURCES</a></div>
            <div class="navbar_item"> <a href="Feedback.html" class = "navbar_link">FEEDBACK</a></div>
            <div class="navbar_item"> <a href="login.html" class = "navbar_link">LOGOUT</a></div>
        </div>
        <div class="page_content">
            <section id ="course" class="section">
                <h1 id="title">Assignments & Course Work</h1>
                <div class = "explanation">
                    <h2>All Course Evaluations</h2>
                    <p> The chart below has all the assignments, due dates, and assignment weights for CSCB20. <br>
                        This page will be updated as PDFs and additional notes become available as the course goes on.
                    <br>
                    </p>
                </div>
        <!-- Grid -->
            <div class="grid-container">
                <div class="grid-item"><b>Course Evaluation</b></div>
                <div class="grid-item"><b>Weight</b></div>
                <div class="grid-item"><b>Due Dates (Tentative)</b></div>
                <div class="grid-item"><b>Assessment PDF/Additional Notes</b></div>
                <div class="grid-item">Assignment 1</div>
                <div class="grid-item">8%</div>
                <div class="grid-item">Feburary 17th, 2022 @ 11:59 PM</div>
                <div class="grid-item"><a class = " pdflink" href="/assignment2/PDF/dummy.pdf">Assignment 1</a></div>
                <div class="grid-item">Assignment 2</div>
                <div class="grid-item">10%</div>
                <div class="grid-item">March 15th, 2022 @ 11:59 PM</div>
                <div class="grid-item"><a class = " pdflink" href="/assignment2/PDF/dummy.pdf">Assignment 2</a></div>
                <div class="grid-item">Assignment 3</div>
                <div class="grid-item">15%</div>
                <div class="grid-item">April 15th, 2022 @ 11:59 PM</div>
                <div class="grid-item">TBA</div>
                <div class="grid-item">Midterm Exam</div>
                <div class="grid-item">25%</div>
                <div class="grid-item">February 28th, 2022 during class</div>
                <div class="grid-item">N/A</div>
                <div class="grid-item">Tutorial Attendance</div>
                <div class="grid-item">2%</div>
                <div class="grid-item">Ongoing</div>
                <div class="grid-item">Attend at least 7 tutorials</div>
                <div class="grid-item">Final Exam</div>
                <div class="grid-item">40%</div>
                <div class="grid-item">April 19th, 2022 @ 9:00 - 12:00 PM</div>
                <div class="grid-item">Obtain at least 35% to pass</div>
            </div>
            <!-- Additional Notes: TO DO-->
            <div class = "notes">
                <div class = "start">
                    <h3>Late Submissions</h3>
                </div>
                <p>Your work will be penalized by 10% for each day (up to 3 days) of the 
                    late submission unless a valid reason for the late submission is provided. </p>
            </div>
            <div class = "notes">
                <div class = "start">
                    <h3>Remark Requests</h3>
                </div>
                <p>If a piece of work has been mismarked or if you believe the rubric used to evaluate the work is not appropiate,
                you may request a remark within 48 hours. Be prepared for the entire work to be re-evaluated.  </p>
            </div>
            <div class = "notes">
                <div class = "start">
                    <h3>Partner Work</h3>
                </div>
                <p>Each group can have up to 3 people. Once you begin working on an assignment, you may not dissolve your partnership
                    without my permission. All team members will receive the same mark. </p>
            </div>
            <div class = "notes">
                <div class = "start">
                    <h3>Academic Integrity</h3>
                </div>
                <p>All the work you submit must be your own and your work must not be submitted by someone else. Plagarism is academic fraud and is taken seriously.
                    The department uses software that compares programs for evidence of similar code. Please read the rules and regulations from the UofT Calendar
                    (especially the Code of Behaviour on Academic Matters) </p>
            </div>
        </div>
        <footer> 
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/0/04/Utoronto_coa.svg/250px-Utoronto_coa.svg.png" alt="UT Logo" class="footer_image"> <div class="blurb">
                <p class="footer_item"> Website made by Jiaqi Sun, William Zhang, Michelle Zhu</p> 
                
                <a href="https://www.utsc.utoronto.ca/cms/" class="footer_item">Visit The CMS website</a> 
            </div>
            <div class="v-line"></div>
            <div class="footer_nav">
                <div class="fnav"> <a href="index.html" class = "navbar_link">HOME</a></div>
                <div class="fnav"> <a href="Teaching_Team.html" class = "navbar_link">TEACHING TEAM</a></div>
                <div class="fnav"> <a href="Tut_Office_Hours.html" class = "navbar_link">TUTORIALS/OFFICE HOURS</a></div>
                <div class="fnav"> <a href="Syllabus.html" class = "navbar_link">SYLLABUS</a></div>
                <div class="fnav"> <a href="Course_Work.html" class = "navbar_link">COURSE WORK</a></div>
                <div class="fnav"> <a href="https://markus.utsc.utoronto.ca/cscb20w22/assignments" target="_blank" class = "navbar_link">MARKUS</a></div>
                <div class="fnav"> <a href="https://piazza.com/class/kxj5alixpjg4ft" target="_blank" class = "navbar_link">PIAZZA</a></div>
                <div class="fnav"> <a href="Additional_Resources.html" class = "navbar_link">ADDITIONAL RESOURCES</a></div>
                <div class="fnav"> <a href="Grade.html" class = "navbar_link">GRADE</a></div>
                <div class="fnav"> <a href="Feedback.html" class = "navbar_link">FEEDBACK</a></div>
            </div>
        </footer>
    </body>
</html>