<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>CSCB20 - Introduction to Databases and Web Applications </title>
        <link rel="stylesheet" href="static/General.css">
        <link rel="stylesheet" href="static/Home.css">
    </head>
    <body>
        
            <!-- This is the nav bar -->
            <div class="navbar">
                <div class="navbar_item"> <a href="index.html" class = "navbar_link">HOME</a></div>
                <div class="navbar_item"> <a href="Teaching_Team.html" class = "navbar_link">TEACHING TEAM</a></div>
                <div class="navbar_item"> <a href="Tut_Office_Hours.html" class = "navbar_link">TUTORIALS/OFFICE HOURS</a></div>
                <div class="navbar_item"> <a href="Syllabus.html" class = "navbar_link">SYLLABUS</a></div>
                <div class="navbar_item"> <a href="Course_Work.html" class = "navbar_link">COURSE WORK</a></div>
                <div class="navbar_item"> <a href="https://markus.utsc.utoronto.ca/cscb20w22/assignments" target="_blank" class = "navbar_link">MARKUS</a></div>
                <div class="navbar_item"> <a href="https://piazza.com/class/kxj5alixpjg4ft" target="_blank" class = "navbar_link">PIAZZA</a></div>
                <div class="navbar_item"> <a href="Additional_Resources.html" class = "navbar_link">ADDITIONAL RESOURCES</a></div>
                <div class="navbar_item"> <a href="Grade.html" class = "navbar_link">GRADE</a></div>
                <div class="navbar_item"> <a href="Feedback.html" class = "navbar_link">FEEDBACK</a></div>
                <div class="navbar_item"> <a href="login.html" class = "navbar_link">LOGOUT</a></div>
            </div>
            <!-- Home page starts here -->
            <div class="page_content">
                <div class="home_page">
                    <h1 class="home_title">Welcome to CSCB20, {{ username }}</h1>
                    <div class="divide"></div>
                    <h2 class="course_description">Course description</h2>
                    <p class="contained_text">A practical introduction to databases and Web app development. 
                        Databases: terminology and applications; creating, querying, and updating databases; 
                        the entity-relationship model for database design. Web documents and applications: 
                        static and interactive documents; Web servers and dynamic server-generated content; 
                        Web application development and interface with databases.
                    </p>
                    <p>Prerequisite: Some experience with programming in an imperative language such as Python, Java or C. </p>
                    <p> This course may not be taken after - or concurrently with - any C- or D-level CSC course.</p>
                    <div class="divide"></div>

                    <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23E67C73&ctz=America%2FToronto&title=Sample%20Calender&src=d2lsbHp3aXpAZ21haWwuY29t&src=aGdmdDFidWw0aW0zMGZ1dWo4bGZsbXAzYzBAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%237986CB&color=%23795548" 
                    class="calender"></iframe>
                    <div class="v-line"></div>
                    <div class="announcment"> 
                        <p class="a-title">Announcments</p>
                        <div class="divide"></div>
                        <ul class="scroll_box">
                            <li class="a-sub">Announcment </li>
                            <li class="a-sub">Announcment </li>
                            <li class="a-sub">Announcment </li>
                            <li class="a-sub">Announcment </li>
                            <li class="a-sub">Announcment </li>
                            <li class="a-sub">Announcment </li>
                            <li class="a-sub">Announcment </li>
                            <li class="a-sub">Announcment </li>
                            <li class="a-sub">Announcment </li>
                            <li class="a-sub">Announcment </li>
                            <li class="a-sub">Announcment </li>
                            <li class="a-sub">Announcment </li>
                            <li class="a-sub">Announcment </li>
                            <li class="a-sub">Announcment </li>
                            <li class="a-sub">Announcment </li>
                            <li class="a-sub">Announcment </li>
                        </ul>
                    </div>
                </div>      
            </div>
        
        <footer> 
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/0/04/Utoronto_coa.svg/250px-Utoronto_coa.svg.png" alt="UT Logo" class="footer_image"> <div class="blurb">
                <p class="footer_item"> Website made by Jiaqi Sun, William Zhang, Michelle Zhu</p> 
                
                <a href="https://www.utsc.utoronto.ca/cms/" class="footer_item">Visit The CMS website</a> 
            </div>
            <div class="v-line"></div>
            <div class="footer_nav">
                <div class="fnav"> <a href="index.html" class = "navbar_link">HOME</a></div>
                <div class="fnav"> <a href="Teaching_Team.html" class = "navbar_link">TEACHING TEAM</a></div>
                <div class="fnav"> <a href="Tut_Office_Hours.html" class = "navbar_link">TUTORIALS/OFFICE HOURS</a></div>
                <div class="fnav"> <a href="Syllabus.html" class = "navbar_link">SYLLABUS</a></div>
                <div class="fnav"> <a href="Course_Work.html" class = "navbar_link">COURSE WORK</a></div>
                <div class="fnav"> <a href="https://markus.utsc.utoronto.ca/cscb20w22/assignments" target="_blank" class = "navbar_link">MARKUS</a></div>
                <div class="fnav"> <a href="https://piazza.com/class/kxj5alixpjg4ft" target="_blank" class = "navbar_link">PIAZZA</a></div>
                <div class="fnav"> <a href="Additional_Resources.html" class = "navbar_link">ADDITIONAL RESOURCES</a></div>
                <div class="fnav"> <a href="Grade.html" class = "navbar_link">GRADE</a></div>
                <div class="fnav"> <a href="Remark.html" class = "navbar_link">REMARK</a></div>
                <div class="fnav"> <a href="Grade.html" class = "navbar_link">GRADE</a></div>
                <div class="fnav"> <a href="Feedback.html" class = "navbar_link">FEEDBACK</a></div>
            </div>
        </footer>

    </body>
   
</html>