<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hello, </title>
        <link rel="stylesheet" href="static/Syllabus.css">
        <link rel="stylesheet" href="static/General.css">
    </head>
    <body>
      <div class="navbar">
        <div class="navbar_item"> <a href="index.html" class = "navbar_link">HOME</a></div>
        <div class="navbar_item"> <a href="Teaching_Team.html" class = "navbar_link">TEACHING TEAM</a></div>
        <div class="navbar_item"> <a href="Tut_Office_Hours.html" class = "navbar_link">TUTORIALS/OFFICE HOURS</a></div>
        <div class="navbar_item"> <a href="Syllabus.html" class = "navbar_link">SYLLABUS</a></div>
        <div class="navbar_item"> <a href="Course_Work.html" class = "navbar_link">COURSE WORK</a></div>
        <div class="navbar_item"> <a href="https://markus.utsc.utoronto.ca/cscb20w22/assignments" target="_blank" class = "navbar_link">MARKUS</a></div>
        <div class="navbar_item"> <a href="https://piazza.com/class/kxj5alixpjg4ft" target="_blank" class = "navbar_link">PIAZZA</a></div>
        <div class="navbar_item"> <a href="Additional_Resources.html" class = "navbar_link">ADDITIONAL RESOURCES</a></div>
        <div class="navbar_item"> <a href="Feedback.html" class = "navbar_link">FEEDBACK</a></div>
        <div class="navbar_item"> <a href="login.html" class = "navbar_link">LOGOUT</a></div>
      </div>
        <div class="page_content">
          <section id ="course" class="section">
            <h1 id="title">Syllabus</h1>
            <div class = "explanation">
              <h2>Weekly Lecture Content</h2>
              <p> The chart below shows the topics that will be covered in class for each week.
              <br>
              </p>
            </div>
            <div class='syll'>
              <div class='row1'>
                <div class='column'>
                  <div class='column1'>
                    <p>Week #</p> 
                  </div>
                </div>
                <div class='column'>
                  <div class='column2'>
                    <p>Topics Taught</p>
                  </div>
                </div>
              </div>
              <div class='row2'>
                <div class='column'>
                  <div class='column3'>
                    1
                  </div>
                </div>
                <div class='column'>
                  <div class='column4'>
                      Introduction – Databases & Relational Model
                  </div>
                </div>
              </div>
              <div class='row3'>
                <div class='column'>
                  <div class='column5'>
                    2
                  </div>
                </div>
                <div class='column'>
                  <div class='column6'>
                    Relational Model & Relational Algebra
                  </div>
                </div>
              </div>
              <div class='row4'>
                <div class='column'>
                  <div class='column7'>
                    3
                  </div>
                </div>
                <div class='column'>
                  <div class='column8'>
                    Relational Algebra Queries & SQL Query Language
                  </div>
                </div>
              </div>
              <div class='row5'>
                <div class='column'>
                  <div class='column9'>
                    4
                  </div>
                </div>
                <div class='column'>
                  <div class='column10'>
                    SQL Query Language
                  </div>
                </div>
              </div>
              <div class='row6'>
                <div class='column'>
                  <div class='column11'>
                    5
                  </div>
                </div>
                <div class='column'>
                  <div class='column12'>
                    SQL & Introduction to web development
                  </div>
                </div>
            </div>
            <div class='row7'>
              <div class='column'>
                <div class='column13'>
                  6
                </div>
              </div>
              <div class='column'>
                <div class='column14'>
                  Introduction to HTML & CSS
                </div>
              </div>
            </div>
            <div class='row8'>
              <div class='column'>
                <div class='column15'>
                  7
                </div>
              </div>
              <div class='column'>
                <div class='column16'>
                  HTML & CSS & Box Model
                </div>
              </div>
            </div>
            <div class='row9'>
              <div class='column'>
                <div class='column17'>
                  8
                </div>
              </div>
              <div class='column'>
                <div class='column18'>
                  Mid-term Exam
                </div>
              </div>
            </div>
            <div class='row10'>
              <div class='column'>
                <div class='column19'>
                  9
                </div>
              </div>
              <div class='column'>
                <div class='column20'>
                  Introduction to Flask & Flexbox & Media Queries
                </div>
              </div>
            </div>
            <div class='row11'>
              <div class='column'>
                <div class='column21'>
                  10
                </div>
              </div>
              <div class='column'>
                <div class='column22'>
                  Flask & Introduction to JavaScript
                </div>
              </div>
            </div>
            <div class='row12'>
              <div class='column'>
                <div class='column23'>
                  11
                </div>
              </div>
              <div class='column'>
                <div class='column24'>
                  Integrating Flask & SQL
                </div>
              </div>
            </div>
            <div class='row13'>
              <div class='column'>
                <div class='column25'>
                  12
                </div>
              </div>
              <div class='column'>
                <div class='column26'>
                  Flask & SQL & examples
                </div>
              </div>
            </div>
            <div class='row14'>
              <div class='column'>
                <div class='column27'>
                  13
                </div>
              </div>
              <div class='column'>
                <div class='column28'>
                  Wrap-up
                </div>
              </div>
            </div>
            <div>
              <h3>Syllabus PDF</h3>
              <p> Below, is a PDF copy of the course syllabus. Please refer to it if you have questions on course details and policies. 
                  <br> <br> <a class = " pdflink" href="/assignment2/PDF/dummy.pdf">Syllabus PDF</a></p>
                
            </div>
          </div>   
        </div>
      <footer> 
        <img src="https://upload.wikimedia.org/wikipedia/en/thumb/0/04/Utoronto_coa.svg/250px-Utoronto_coa.svg.png" alt="UT Logo" class="footer_image"> <div class="blurb">
            <p class="footer_item"> Website made by Jiaqi Sun, William Zhang, Michelle Zhu</p> 
            <a href="https://www.utsc.utoronto.ca/cms/" class="footer_item">Visit The CMS website</a> 
        </div>
        <div class="v-line"></div>
        <div class="footer_nav">
            <div class="fnav"> <a href="index.html" class = "navbar_link">HOME</a></div>
            <div class="fnav"> <a href="Teaching_Team.html" class = "navbar_link">TEACHING TEAM</a></div>
            <div class="fnav"> <a href="Tut_Office_Hours.html" class = "navbar_link">TUTORIALS/OFFICE HOURS</a></div>
            <div class="fnav"> <a href="Syllabus.html" class = "navbar_link">SYLLABUS</a></div>
            <div class="fnav"> <a href="Course_Work.html" class = "navbar_link">COURSE WORK</a></div>
            <div class="fnav"> <a href="https://markus.utsc.utoronto.ca/cscb20w22/assignments" target="_blank" class = "navbar_link">MARKUS</a></div>
            <div class="fnav"> <a href="https://piazza.com/class/kxj5alixpjg4ft" target="_blank" class = "navbar_link">PIAZZA</a></div>
            <div class="fnav"> <a href="Additional_Resources.html" class = "navbar_link">ADDITIONAL RESOURCES</a></div>
            <div class="fnav"> <a href="Grade.html" class = "navbar_link">GRADE</a></div>
            <div class="fnav"> <a href="Feedback.html" class = "navbar_link">FEEDBACK</a></div>
        </div>
    </footer>
    </body>
</html>