<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Teaching</title>
        <link rel="stylesheet" href="static/General.css">
        <link rel="stylesheet" href="static/Teaching_Team.css">
    </head>
    <body>
            
            <div class="navbar">
                <div class="navbar_item"> <a href="index.html" class = "navbar_link">HOME</a></div>
                <div class="navbar_item"> <a href="Teaching_Team.html" class = "navbar_link">TEACHING TEAM</a></div>
                <div class="navbar_item"> <a href="Tut_Office_Hours.html" class = "navbar_link">TUTORIALS/OFFICE HOURS</a></div>
                <div class="navbar_item"> <a href="Syllabus.html" class = "navbar_link">SYLLABUS</a></div>
                <div class="navbar_item"> <a href="Course_Work.html" class = "navbar_link">COURSE WORK</a></div>
                <div class="navbar_item"> <a href="https://markus.utsc.utoronto.ca/cscb20w22/assignments" target="_blank" class = "navbar_link">MARKUS</a></div>
                <div class="navbar_item"> <a href="https://piazza.com/class/kxj5alixpjg4ft" target="_blank" class = "navbar_link">PIAZZA</a></div>
                <div class="navbar_item"> <a href="Additional_Resources.html" class = "navbar_link">ADDITIONAL RESOURCES</a></div>
                <div class="navbar_item"> <a href="Feedback.html" class = "navbar_link">FEEDBACK</a></div>
                <div class="navbar_item"> <a href="login.html" class = "navbar_link">LOGOUT</a></div>
            </div>
            <div class="page_content">
                <div class="custom">
                    <section id ="team" class="section">
                        <h1 id="team-title">Our Teaching Team</h1>
                        
                    <h2>Instructor</h2>
                    </section>
                        <div class="content-card">
                            <div class="content-img">
                                <img src="https://media-exp1.licdn.com/dms/image/C4E03AQEQxA3KsBJang/profile-displayphoto-shrink_800_800/0/1564474192397?e=1652313600&v=beta&t=2Y8LpTK9JaOW-gyk-9F8vNDLGHoB-xRt3DxcIiSWgCA" width=210px>
                            </div>
                            <div class="content-card-text">
                                <h3>Purva Gawde</h3>
                                <span class="team-title">CLTA Assistant Professor, Teaching Stream</span>
                            </div>
                            <div class="content-card-body">
                                <ul>
                                    <li>
                                        <strong>Email:</strong>
                                        <a href="mailto:purva.gawde@utoronto.ca">
                                        Purva.Gawde@utoronto.ca</a>
                                    </li>
                                    <li>
                                        <strong>Office:</strong>
                                        " IC484"
                                    </li>
                                    <li>
                                        <strong>Contact:</strong>
                                        " 647.601.4658"
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <br>
                        <h2>Teaching Assistants</h2>
                        <div class="content-card">
                            <div class="content-img"> 
                            <img src="https://www.kindpng.com/picc/m/24-248156_duffy-and-friends-clip-art-disney-clip-art.png" width=210px>
                            </div> 
                            <div class="content-card-text">
                                <h3>Rick</h3>
                                <span class="team-title">Teaching Assistant</span>
                            </div>
                            <div class="content-card-body">
                                <ul class="nobull">
                                    <li>
                                        <strong>Email:</strong>
                                        <a href="mailto:rick@mail.utoronto.ca">
                                        rick@utoronto.ca</a>
                                    </li>
                                    <li>
                                        <strong>Office:</strong>
                                        " IC484"
                                    </li>
                                    <li>
                                        <strong>Contact:</strong>
                                        " 647.601.4658"
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="content-card">
                            <div class="content-img"> 
                            <img src="https://pbs.twimg.com/media/FAXhnKxVUAAHjpC.jpg" width=210px>
                            </div>   
                            <div class="content-card-text">
                                <h3>Vidya</h3>
                                <span class="team-title">Teaching Assistant</span>
                            </div>
                            <div class="content-card-body">
                                <ul>
                                    <li>
                                        <strong>Email:</strong>
                                        <a href="mailto:Vidya@mail.utoronto.ca">
                                        Vidya@utoronto.ca</a>
                                    </li>
                                    <li>
                                        <strong>Office:</strong>
                                        " IC484"
                                    </li>
                                    <li>
                                        <strong>Contact:</strong>
                                        " 647.601.4658"
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        <footer> 
                <img src="https://upload.wikimedia.org/wikipedia/en/thumb/0/04/Utoronto_coa.svg/250px-Utoronto_coa.svg.png" alt="UT Logo" class="footer_image"> <div class="blurb">
                    <p class="footer_item"> Website made by Jiaqi Sun, William Zhang, Michelle Zhu</p> 
                    
                    <a href="https://www.utsc.utoronto.ca/cms/" class="footer_item">Visit The CMS website</a> 
                </div>
                <div class="v-line"></div>
                <div class="footer_nav">
                    <div class="fnav"> <a href="index.html" class = "navbar_link">HOME</a></div>
                    <div class="fnav"> <a href="Teaching_Team.html" class = "navbar_link">TEACHING TEAM</a></div>
                    <div class="fnav"> <a href="Tut_Office_Hours.html" class = "navbar_link">TUTORIALS/OFFICE HOURS</a></div>
                    <div class="fnav"> <a href="Syllabus.html" class = "navbar_link">SYLLABUS</a></div>
                    <div class="fnav"> <a href="Course_Work.html" class = "navbar_link">COURSE WORK</a></div>
                    <div class="fnav"> <a href="https://markus.utsc.utoronto.ca/cscb20w22/assignments" target="_blank" class = "navbar_link">MARKUS</a></div>
                    <div class="fnav"> <a href="https://piazza.com/class/kxj5alixpjg4ft" target="_blank" class = "navbar_link">PIAZZA</a></div>
                    <div class="fnav"> <a href="Additional_Resources.html" class = "navbar_link">ADDITIONAL RESOURCES</a></div>
                    <div class="fnav"> <a href="Grade.html" class = "navbar_link">GRADE</a></div>
                    <div class="fnav"> <a href="Feedback.html" class = "navbar_link">FEEDBACK</a></div>
                </div>
        </footer>
    </body>
</html>