<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hello, </title>
        <link rel="stylesheet" href="static/Tut.css">
        <link rel="stylesheet" href="static/General.css">
    </head>
    <body>
        <div class="navbar">
            <div class="navbar_item"> <a href="index.html" class = "navbar_link">HOME</a></div>
            <div class="navbar_item"> <a href="Teaching_Team.html" class = "navbar_link">TEACHING TEAM</a></div>
            <div class="navbar_item"> <a href="Tut_Office_Hours.html" class = "navbar_link">TUTORIALS/OFFICE HOURS</a></div>
            <div class="navbar_item"> <a href="Syllabus.html" class = "navbar_link">SYLLABUS</a></div>
            <div class="navbar_item"> <a href="Course_Work.html" class = "navbar_link">COURSE WORK</a></div>
            <div class="navbar_item"> <a href="https://markus.utsc.utoronto.ca/cscb20w22/assignments" target="_blank" class = "navbar_link">MARKUS</a></div>
            <div class="navbar_item"> <a href="https://piazza.com/class/kxj5alixpjg4ft" target="_blank" class = "navbar_link">PIAZZA</a></div>
            <div class="navbar_item"> <a href="Additional_Resources.html" class = "navbar_link">ADDITIONAL RESOURCES</a></div>
            <div class="navbar_item"> <a href="Feedback.html" class = "navbar_link">FEEDBACK</a></div>
            <div class="navbar_item"> <a href="login.html" class = "navbar_link">LOGOUT</a></div>
        </div>
        <div class="page_content">
            <section id ="tut" class="OH">
                <h1 id="title">Tutorial & Office Hours</h1>
            <div class = "explanation">
                <h2>Weekly Professor & TA Hours</h2>
                <p> Below showcases Tutorial Times, Weekly Office Hours, and TA Office Hours. <br>
                    Times and locations are always subject to change so be sure to look out for any annoucements!
                </p>
            </div>
            <!-- TUT starts here -->
            <div class ="Tabs">
                <input type = "radio" id = "Tab1" name = "Tabs" checked = "checked">
                <label for = "Tab1">Tutorials</label>
                <div class = "subtab">
                    <h2>Tutorial Times</h2>
                    <p> <strong>Tutorial 0001 & Tutorial 0002</strong> <br>
                    <br>
                    <strong>TA: </strong>Rick <br>
                    <strong>Tutorial 0001:</strong> Mondays 11:00 PM - 12:00 PM <br>
                    <strong>Tutorial 0002:</strong> Mondays 12:00 PM - 1:00 PM<br>
                    <strong>Classroom:</strong> BV 473 <br>
                    <br>
                    <strong>Zoom Link:</strong> <a class = "zoomlinks" href="https://utoronto.zoom.us/j/4637273340">https://utoronto.zoom.us/j/4637273340</a><br>
                    <strong>Passcode:</strong> 6NdBG8 <br>
                    <br>
                    <strong>Tutorial 0003 & Tutorial 0004</strong> <br> <br>
                    <strong>TA:</strong> Vidya <br>
                    <strong>Tutorial 0003:</strong> Tuesdays 12:00 PM - 1:00 PM<br>
                    <strong>Tutorial 0004:</strong> Tuesdays 1:00 PM - 2:00 PM <br>
                    <strong>Classroom: </strong>BV 473 <br>
                    <br>
                    <strong>Zoom Link:</strong> <a class = "zoomlinks" href="https://utoronto.zoom.us/j/85751604128">https://utoronto.zoom.us/j/85751604128</a><br>
                    <strong>Passcode:</strong> b20tut </p>
                </div>
                <!-- OH starts here -->
                <input type = "radio" id = "Tab2" name = "Tabs">
                <label for = "Tab2">Office Hours</label>
                <div class = "subtab">
                    <h2>Weekly Professor Office Hours</h2>
                    <p> <strong>Time:</strong> Tuesdays 10:00 AM - 11:00 AM <br>
                    <strong>Zoom Link:</strong> <a class = "zoomlinks" href="https://utoronto.zoom.us/j/83542936911">https://utoronto.zoom.us/j/83542936911</a><br>
                    <strong>Passcode:</strong> 003308 </p>
                </div>
                <!-- TA OH starts here -->
                <input type = "radio" id = "Tab3" name = "Tabs">
                <label for = "Tab3">TA Office Hours</label>
                <div class = "subtab">
                    <h2>Weekly TA Office Hours </h2>
                    <p><strong>TA:</strong> Rick <br>
                    <strong>Time: </strong>Wednesdays 5:00 PM-6:00 PM & Thursdays 3:00 PM-4:00 PM <br>
                    <strong>Zoom Link: </strong> <a class = "zoomlinks" href="https://utoronto.zoom.us/j/4637273340">https://utoronto.zoom.us/j/4637273340</a><br>
                    <strong>Passcode: </strong>6NdBG8 <br>
                    <br>
                    <strong>TA: </strong>Vidya <br>
                    <strong>Time:</strong> Tuesdays 2:00 PM-4:00 PM <br>
                    <strong>Zoom Link:</strong> <a class = "zoomlinks" href="https://utoronto.zoom.us/j/87512902464">https://utoronto.zoom.us/j/87512902464</a> <br>
                    <strong>Passcode:</strong> b20tut <br> </p>
                </div>
            </div>
        </div>
        <footer> 
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/0/04/Utoronto_coa.svg/250px-Utoronto_coa.svg.png" alt="UT Logo" class="footer_image"> <div class="blurb">
                <p class="footer_item"> Website made by Jiaqi Sun, William Zhang, Michelle Zhu</p> 
                
                <a href="https://www.utsc.utoronto.ca/cms/" class="footer_item">Visit The CMS website</a> 
            </div>
            <div class="v-line"></div>
            <div class="footer_nav">
                <div class="fnav"> <a href="index.html" class = "navbar_link">HOME</a></div>
                <div class="fnav"> <a href="Teaching_Team.html" class = "navbar_link">TEACHING TEAM</a></div>
                <div class="fnav"> <a href="Tut_Office_Hours.html" class = "navbar_link">TUTORIALS/OFFICE HOURS</a></div>
                <div class="fnav"> <a href="Syllabus.html" class = "navbar_link">SYLLABUS</a></div>
                <div class="fnav"> <a href="Course_Work.html" class = "navbar_link">COURSE WORK</a></div>
                <div class="fnav"> <a href="https://markus.utsc.utoronto.ca/cscb20w22/assignments" target="_blank" class = "navbar_link">MARKUS</a></div>
                <div class="fnav"> <a href="https://piazza.com/class/kxj5alixpjg4ft" target="_blank" class = "navbar_link">PIAZZA</a></div>
                <div class="fnav"> <a href="Additional_Resources.html" class = "navbar_link">ADDITIONAL RESOURCES</a></div>
                <div class="fnav"> <a href="Grade.html" class = "navbar_link">GRADE</a></div>
                <div class="fnav"> <a href="Feedback.html" class = "navbar_link">FEEDBACK</a></div>
            </div>
        </footer>
    </body>
</html>